@import "tailwindcss";
@import "tw-animate-css";

:root {
  --color-dark-blue: #f5f3ff;
  --color-background: #ffffff;
  --color-text: #2e0f66;
}

/* * Optional Dark Theme */
[data-theme="dark"] {
  --color-primary: #a18aff;
  --color-background: #121212;
  --color-text: #f5f5f5;
}
